@use '../base/variables' as v;
@use '../base/mixins' as m;

header{
    background-color: v.$azulClaro;
    z-index: 1;
    position: fixed;
    width: 100%;
    .content_lista-carrito-phone{
        display: none;
    }
}
.navbar{
    display: flex;
    justify-content: center;

    .navbar_left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content_logo,
        .content_buscador{
            padding: 1rem;
        }

        .content_logo{
            h2{
                color: v.$blanco;
            }
        }

        .content_buscador{
            display: flex;
            input{
                border-radius: 10px;
                width: 350px;
                height: 40px;
                border: none;
            }

            ::placeholder{
                text-align: center;
            }

            button{
                padding: 11px 20px;
                border: none;
                background-color: v.$amarillo;
                border-radius: 10px;
                color: v.$blanco;
                position: relative;
                right: 25px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .navbar_right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            color: v.$blanco;
        }

        .link{
            padding: 1rem;

            a:hover{
                color: v.$amarillo;
            }
            .content_carrito{
                display: flex;
                align-items: center;

                .carrito{
                    transition: .25s ease;
                    &:hover{
                        transform: scale(1.1);
                        color: v.$amarillo;
                        cursor: pointer;
                    }
                }
            }

            .content_lista-carrito{
                background-color: v.$blanco;
                position: absolute;
                left: 70%;
                margin-top: 1rem;
                border-radius: 10px;
                width: 350px;
                display: block;
                box-shadow: 0 0 20px 2px v.$gris;

                p{
                    text-align: center;
                    font-size: 2rem;
                    color: v.$azulClaro;
                }
                .cerrar_carrito{
                    color: v.$negro;
                    width: 95%;
                    font-size: 25px;
                    margin: 0%;
                    padding: 10px;
                    text-align: end;

                    &:hover{
                        cursor: pointer;
                    }
                    
                }
                .lista_carrito{
                    height: auto;
                    scrollbar-color: v.$gris white;
                    scrollbar-gutter: stable both-edges;
                    scrollbar-width: thin;
                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }

                    &::-webkit-scrollbar:vertical {
                        width: 13px;
                    }

                    &::-webkit-scrollbar-button:increment,.lista_carrito::-webkit-scrollbar-button {
                        display: none;
                    } 

                    &::-webkit-scrollbar:horizontal {
                        height: 10px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background-color: #797979;
                        border-radius: 20px;
                        border: 2px solid #f1f2f3;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 10px;  
                    }

                    .carrito{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        align-items: center;
                        padding: 10px;
                        justify-content: center;
                        text-align: center;
                        margin: 1rem;
                        border-radius: 10px;
                        img{
                            border-radius: 10px;
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                        }

                        .content_detalle-producto{
                            p{
                                font-size: 1.2rem;
                                font-weight: 600;
                                
                                :first-child{
                                    color: v.$verde;
                                }
                                
                                
                            }
                        }

                        .content_boton-borrar-producto{
                            .trash{
                                transition: .25s ease;
                                color: v.$gris;
                                &:hover{
                                    color: v.$azulClaro;
                                    cursor: pointer;
                                    transform: scale(1.1);
                                }
                            }
                        }              
                    }
                }

                hr{
                    width: 90%;
                    margin: 0% auto;
                }

                .content_boton-vaciar-carrito{
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    button{
                        margin-bottom: 1rem;
                        margin-top: 1rem;
                        border: none;
                        border-radius: 10px;
                        background-color: v.$azulClaro;
                        color: v.$blanco;
                        font-weight: 900;
                        transition: .25s ease;
                        padding: 5px;
                        padding: 20px 80px;
                        &:hover{
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
                }
            }

            @include m.tablet{
                i{
                    transition: .25s ease;
                    &:hover{
                        color: v.$amarillo;
                        transform: scale(1.1);
                    }
                }

                a{
                    display: none;
                }
            }

            @include m.desktopSmall{
                i{
                    transition: .25s ease;
                    &:hover{
                        color: v.$amarillo;
                        transform: scale(1.1);
                    }
                }

                a{
                    display: none;
                }
            }
        }
    }
}

//VERSIÓN NAVBAR VERSIÓN TELÉFONO, TABLET Y ESCRITORIO
.navbar{
    @include m.phone{
        .navbar_left{
            .content_logo{
                display: none;
            }

            .content_buscador{
                input{
                    width: 150px;
                }
            }
        }

        .navbar_right{
            .link{
                a{
                    display: none;
                }
            }

            .link_carrito{
                .content_lista-carrito{
                    background-color: v.$blanco;
                    right: 0%;
                    left: 0%;
                    margin: 2rem auto;
                    width: 70%;
                }
            }
        }
    }

    @include m.tablet{
        .navbar_left{
            .content_logo{
                display: none;
            }

            .content_buscador{
                input{
                    width: auto;
                }
            }
        }

        .navbar_right{
            .link_carrito{
                .content_lista-carrito{
                    background-color: v.$blanco;
                    right: 0%;
                    left: 0%;
                    margin: 2rem auto;
                    width: 60%;
                }
            }
        }
    }

    @include m.desktopSmall{
        .navbar_left{
            .content_buscador{
                input{
                    width: auto;
                }
            }
        }

        .navbar_right{
            .link_carrito{
                .content_lista-carrito{
                    background-color: v.$blanco;
                    right: 0%;
                    left: 0%;
                    margin: 2rem auto;
                    width: 40%;
                }
            }
        }
    }
}