@use '../base/variables' as v;
@use '../base/mixins' as m;


//SECCIÓN PRODUCTOS EN DESCUENTO
.section_productos-en-descuento{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;

    .content_section-left,
    .content_section-right{
        padding-bottom: 5rem;
        margin-top: 5rem;

        @include m.phone{
            padding-bottom: 0%;
        }

        @include m.tablet{
            padding-bottom: 0%;
        }

        @include m.desktopSmall{
            margin-top: 5rem;
        }
    }
    .content_section-left{
        .content_titulo-producto{
            h1{
                font-size: 4rem;
                font-weight: 900;
                color: v.$azulClaro;
            }
        }

        .content_botones{
            button{
                padding: 15px 25px;
                width: 180px;
                color: v.$azulClaro;
                background-color: v.$amarillo;
                border: none;
                border-radius: 10px;
                transition: .25s ease;
                font-size: 1.1rem;

                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }

    .content_section-right{
        @include m.phone{
            margin-top: 5rem;
        }

        @include m.tablet{
            margin-top: 5rem;
        }
        .content_producto{
            img{
                width: 450px;
            }

            .content_precio{
                background-color: v.$amarillo;
                width: 450px;
                margin: 0% auto;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                

                p{
                    font-size: 1.5rem;
                    font-weight: 900;
                    margin: 0%;
                    color: v.$azulClaro;
                }
            }
        }
    }
}

//PRIMERA SECCIÓN VERSIÓN TELÉFONO, TABLET Y ESCRITORIO
@include m.phone{
    .section_productos-en-descuento{
        height: auto;
        display: grid;
        grid-template-columns: auto;
        .content_section-left{
            padding-bottom: 2rem;
            .content_titulo-producto{
                h1{
                    font-size: 3rem;
                }
            }

            .content_botones{
                display: block;
                
                button{
                    margin-top: 1rem;
                    width: 220px;
                }
            }
        }

        .content_section-right{
            grid-row: 2/1;
            .content_producto{
                width: 320px;
                margin: 0% auto;
                text-align: center;
                justify-content: center;
                img{
                    width: 300px;
                }

                .content_precio{
                    width: 300px;

                    p{
                        font-size: 1.1rem;
                    }
                }
            }   
        }
    }
}

@include m.tablet{
    .section_productos-en-descuento{
        height: auto;
        display: grid;
        grid-template-columns: auto;
        .content_section-left{
            padding-bottom: 2rem;
            .content_titulo-producto{
                h1{
                    font-size: 3rem;
                }
            }

            .content_botones{
                display: block;
                
                button{
                    margin-top: 1rem;
                    width: 220px;
                }
            }
        }

        .content_section-right{
            grid-row: 2/1;
            .content_producto{
                margin: 0% auto;
                text-align: center;
                justify-content: center;
                img{
                    width: 400px;
                }

                .content_precio{
                    width: 400px;
                    p{
                        font-size: 1.1rem;
                    }
                }
            }   
        }
    }
}

@include m.desktopSmall{
    .section_productos-en-descuento{
        .content_section-left{
            .content_botones{
                display: block;
                button{
                    margin: 5px;
                }
            }
        }
        .content_section-right{
            .content_producto{
                img{
                    width: 300px;
                }

                .content_precio{
                    width: 350px;
                }
            }
        }
    }
}


//SECCIÓN PRODUCTOS POPULARES
.section_productos-populares{
    .content_header-section-productos-populares{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .content_titulo-productos{
            h2{
                text-align: center;
                color: v.$azulClaro;
            }
        }

        .content_categorias{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            a{
                border-radius: 10px;
                border: 2px solid v.$azulClaro;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: v.$azulClaro;
                width: 150px;

                &:hover{
                    cursor: pointer;
                    background-color: v.$amarillo;
                }
            }
        }
    }

    .content_productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        row-gap: 4rem;
        text-align: center;
        margin-top: 2rem;
        box-sizing: border-box;
        &:hover{
            cursor: pointer;
        }

        .producto{
            border: 1px solid v.$azulClaro;
            border-radius: 10px;
            height: 360px;
            width: 305px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 10px 1px v.$azulClaro;
            transition: .25s ease;

            &:hover{
                box-shadow: 0 0 20px 3px v.$azulClaro;
                transform: scale(0.9);
                .content_detalles-producto{
                    height: 60px;
                }
                .content_parrafos-detalle-producto{
                    display: none;
                }
            }

            img{
                width: 325px;
                height: 270px;
                display: block;
                text-align: center;
                box-shadow: 0 0 10px 2px v.$azulClaro;
                object-fit: cover;
            }

            .content_parrafos-detalle-producto{
                transition: .30s ease;
            }

            .nombre_producto{
                color: v.$azulClaro;
                font-size: 1.2rem;
                font-weight: 900;
            }

            .precio_producto{
                color: v.$verde;
                font-weight: 900;
                font-size: 1.2rem;
            }


            .content_detalles-producto{
                width: 100%;
                position: absolute;
                bottom: 0%;
                height: 0%;
                transition: .25s ease;
                overflow: hidden;
                display: flex;
                flex-direction: column;

                .content_botones{
                    button{
                        background-color: v.$azulClaro;
                        border: none;
                        border-radius: 10px;
                        height: 40px;
                        color: v.$blanco;
                        transition: .25s ease;
                        font-weight: 900;
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.1);
                        }
                    }

                    :last-child{
                        color: v.$amarillo;
                        text-align: center;
                        justify-content: center;

                        i{
                            text-align: center;
                            justify-content: center;
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}

//SECCIÓN PRODUCTOS POPULARES VERSIÓN TELÉFONO, TABLET Y ESCRITORIO
@include m.phone{
    .section_productos-populares{
        .content_header-section-productos-populares{
            display: block;

            .content_titulo-productos{
                h2{
                    font-size: 1.7rem;
                }
            }
            .content_categorias{
                display: none;
            }
        }
        .content_productos{
            display: block; 

            .producto{
                margin-top: 2rem;
                margin: 1rem auto;
                width: 90%;
                height: 320px;

                img{
                    width: 100%;
                }

                &:hover{
                    .content_parrafos-detalle-producto{
                        display: block;
                    }

                    .content_detalles-producto{
                        height: auto;
                    }
                }

                .content_detalles-producto{
                    height: auto;
                    .content_botones{
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

@include m.tablet{
    .section_productos-populares{
        .content_header-section-productos-populares{
            display: block;

            .content_titulo-productos{
                h2{
                    font-size: 2rem;
                }
            }
            .content_categorias{
                display: none;
            }
        }

        .content_productos{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0px; 

            .producto{
                margin-top: 2rem;
                margin: 1rem auto;
                width: 90%;
                height: 320px;

                img{
                    width: 100%;
                    height: 200px;
                }

                &:hover{
                    .content_parrafos-detalle-producto{
                        display: block;
                    }

                    .content_detalles-producto{
                        height: auto;
                    }
                }

                .content_detalles-producto{
                    height: auto;
                    .content_botones{
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

@include m.desktopSmall{
    .section_productos-populares{
        .content_header-section-productos-populares{
            .content_titulo-productos{
                h2{
                    font-size: 2rem;
                }
            }
            .content_categorias{
                gap: 2px;

                a{
                    width: 100px;
                    p{
                        font-size: 10px;
                    }
                }
            }
        }

        .content_productos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0px; 

            .producto{
                margin-top: 2rem;
                margin: 1rem auto;
                width: 90%;
                height: 320px;

                img{
                    width: 100%;
                    height: 200px;
                }

                &:hover{
                    .content_parrafos-detalle-producto{
                        display: block;
                    }

                    .content_detalles-producto{
                        height: auto;
                    }
                }

                .content_detalles-producto{
                    height: auto;
                    .content_botones{
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

@include m.desktopBig{
    .content_productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px; 

        .producto{
            margin-top: 2rem;
            margin: 1rem auto;
            width: 90%;
            height: 320px;

            img{
                width: 100%;
                height: 200px;
            }

            &:hover{
                .content_parrafos-detalle-producto{
                    display: block;
                }

                .content_detalles-producto{
                    height: auto;
                }
            }

            .content_detalles-producto{
                height: auto;
                .content_botones{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

//SECCIÓN PRODUCTOS MITAD DE PRECIO
.section_producto-mitad-precio{
    background-color: v.$negro;
    border-radius: 10px;
    .content_producto-mitad-precio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0;
        .content_left-producto-mitad-precio{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 600px;
            }
        }

        .content_right-producto-mitad-precio{
            .content_aviso{
                display: flex;
                justify-content: center;
                p{
                    background-color: v.$amarillo;
                    color: v.$blanco;
                    width: 200px;
                    height: 40px;
                    border-radius: 10px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }

            .content_descuento{
                h2{
                    color: v.$azulClaro;
                    font-size: 4rem;
                    text-align: center;
                }

                p{
                    color: v.$blanco;
                    font-size: 2rem;
                    text-align: center;
                }
            }

            .content_boton-comprar{
                display: flex;
                justify-content: center;
                button{
                    width: 200px;
                    height: 40px;
                    background-color: v.$amarillo;
                    border-radius: 10px;
                    transition: .25s ease;
                    border: none;
                    color: v.$blanco;

                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//SECCIÓN PRODUCTOS POPULARES VERSIÓN TELÉFONO, TABLET Y ESCRITORIO
@include m.phone{
    .section_producto-mitad-precio{
        .content_producto-mitad-precio{
            display: block;

            .content_left-producto-mitad-precio{
                img{
                    width: 300px;
                }
            }
        }
    }
}

@include m.tablet{
    .section_producto-mitad-precio{
        .content_producto-mitad-precio{
            display: block;

            .content_left-producto-mitad-precio{
                img{
                    width: 450px;
                }
            }
        }
    }
}

@include m.desktopSmall{
    .section_producto-mitad-precio{
        .content_producto-mitad-precio{
            display: block;

            .content_left-producto-mitad-precio{
                img{
                    width: 650px;
                }
            }
        }
    }
}