@use 'variables' as v;

html{
    padding: 0%;
    margin: 0%;
    display: block;
}

body{
    font-family: 'Chivo Mono', monospace;
}

section{
    width: 98%;
    margin: 0% auto;
}

a{
    text-decoration: none;
    color: v.$blanco;
}

ul,
li{
    list-style: none;
    padding: 0%;
}