//Colores
$blanco: white;
$negro: black;
$azulClaro: #34495E;
$amarillo: #F5B041; 
$verde: #42ff33;
$rojo: #FF33E0;
$gris: #B2BABB; 
$azulCielo:#aed6f1;

//Tamaño de los dispositivos
$phone: 480px;
$tabletMin: 481px;
$tabletMax: 768px;
$desktopSmallMin: 769px;
$desktopSmallMax: 1199px;
$desktopBig: 1200px;
