//Colores
$blanco: white;
$negro: black;
$azulClaro: #34495E;
$amarillo: #F5B041; 

//Tamaño de los dispositivos
$phone: 480px;
$tabletMin: 481px;
$tabletMax: 768px;
$desktopSmallMin: 769px;
$desktopSmallMax: 1199px;
$desktopBig: 1200px;
